.node-people-profile img{float:left;margin-right:10px;margin-bottom:10px;}
div#footer-content{text-align:center;}
article.node-article div.field-name-field-image,.view-news .views-field-field-image,.view-visualizatons .views-field-field-image{float:left;padding-right:10px;padding-bottom:5px;}
li.node-readmore{font-weight:normal;font-style:italic;}
